:root {
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #ff951f;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background: var(--primary);
  border-bottom: 15px solid var(--secondary)
}

nav .brand-logo {
  color: var(--title);
  font-size: 32px;
  font-weight: bold;
}

nav .brand-logo img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.tab a {
  color: var(--title) !important;
  font-weight: bold;
}


.page-footer {
  background-color: var(--secondary) !important;
  color: var(--title) !important;
}